* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    margin-top: 50px;
}

.tab-container .first-interface {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    width: 500px;
    height: 350px;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tab-container .first-interface img {
    width: 200px;
    height: 160px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul a li {
    width: 50px;
    height: 30px;
    background-color: #ddd;
    color: red;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.tab-container ul a li.active {
    background-color: yellow;
    color: red;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}

.tab-container .second-interface {
    display: none;
    grid-template-columns: repeat(2, max-content);
    width: 500px;
    height: 350px;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tab-container .second-interface img {
    width: 200px;
    height: 160px;
}